extends layout

block content
  h1= title

  input(id='gameId' type='hidden' value='#{gameId}')
  input(id='playerId' type='hidden' value='#{playerId}')
  input(id='url' type='text' disabled)

  p Welcome to #{title}
  p Game #{gameId}
  p Player #{playerId}
  div #{url}
  div(id='0' class='cell') 0
  div(id='1' class='cell') 1
  div(id='2' class='cell') 2
  div(id='3' class='cell') 3
  div(id='4' class='cell') 4
  div(id='5' class='cell') 5
  div(id='6' class='cell') 6
  div(id='7' class='cell') 7
  div(id='8' class='cell') 8
  script(src='/javascripts/game-gui.js')